body {
  background-color: #f2f2f2;
}

#welcome {
  text-align: center;
  font-size: 36px;
  color: #00698f;
  font-family: Arial, sans-serif;
  font-style: italic;
  text-decoration: underline;
}

#name {
  text-align: center;
  text-transform: uppercase;
}
#name:first-letter {
  color: red;
}
